@use '../../styles/tokens' as *;

.card {
    display: inline-flex;
    align-items: center;
    gap: $sp-12;
    padding: $sp-10 $sp-10;
    background: $c-surface;
    border: 1px solid $c-muted;
    border-radius: 999px;
    max-width: 560px;
    width: auto;
}

.icon {
    width: 40px;
    height: 40px;
    align-self: center;
}

.title {
    font-family: $font-sans;
    font-weight: $fw-semibold;
    font-size: clamp(20px, 2vw, 22px);
    line-height: 1.25;
}

.text {
    font-family: $font-sans;
    font-weight: $fw-medium;
    font-size: clamp(15px, 2vw, 17px);
    line-height: 1.3;
    color: $c-text;
}

@media (max-width:480px) {

    .title {
        font-size: clamp(20px, 5.2vw, 22px);
    }

    .text {
        display: none
    }
}